<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>{{ item.themeName }}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="detailtype" class="segments">
      <ion-segment-button value="overview">
        Overview
      </ion-segment-button>
      <ion-segment-button value="organisers">
        Organisators
      </ion-segment-button>
      <ion-segment-button value="categories">
        Categorieën
      </ion-segment-button>
      <ion-segment-button value="cards">
        Kaarten
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div [ngSwitch]="detailtype">

    <div *ngSwitchCase="'overview'">
      <div class="item-detail" padding>

        <ion-label color="primary" stacked>Naam</ion-label>
        <h2 *ngIf="editing != 1">{{item.themeName}}</h2>
        <ion-textarea *ngIf="editing == 1" [(ngModel)]="item.themeName">{{item.themeName}}</ion-textarea>


        <ion-label color="primary" stacked>Beschrijving</ion-label>
        <p *ngIf="editing != 1">{{item.themeDescription}}</p>
        <ion-textarea *ngIf="editing == 1" [(ngModel)]="item.themeDescription"></ion-textarea>

        <ion-label color="primary" stacked>Tag</ion-label>
        <span *ngIf="editing != 1">
          <p *ngFor="let tag of item.themeTags">{{tag}}</p>
        </span>
        <span *ngIf="editing == 1">
          <ion-textarea *ngFor="let tag of item.themeTags;let i = index"
                        [(ngModel)]="item.themeTags[i]">{{tag}}</ion-textarea>
        </span>
        <button ion-button (click)="editing === 1 ? save() : editing=1">{{editing===1 ? "Opslaan" :
          "Wijzigen"}}
        </button>
      </div>
    </div>

    <div *ngSwitchCase="'cards'">
      Een kaart hier:

      <ion-item *ngFor="let card of item.themeCards">
        {{card.name}}
      </ion-item>
    </div>

    <div *ngSwitchCase="'categories'">
      Een categorie hier:

      <ion-item *ngFor="let category of item.themeCategories">
        {{category.name}}
      </ion-item>
    </div>

    <div *ngSwitchCase="'organisers'">
      Een organisator hier:

      <ion-item *ngFor="let organiser of item.themeOrganiser">
        naam:{{organiser.name}} <br>
        email:{{organiser.email}}
      </ion-item>
    </div>
  </div>
</ion-content>
